/* Other styles */

.navbar-green {
    background-color: #3D9970;
}

.navbar-green .navbar-brand,
.navbar-green .nav-link {
    color: #ffffff;
}

.navbar-green .nav-link:hover {
    color: #d4edda;
}

.navbar-nav.ml-auto:last-child {
    margin-right: 50px; /* Add some spacing if needed */
}


.box {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
}
